[Unit]
Description=geth
After=network-online.target

[Service]
ExecStartPre=-/usr/bin/docker pull hkjn/geth
ExecStartPre=-/usr/bin/docker stop geth
ExecStartPre=-/usr/bin/docker rm geth
ExecStart=/bin/bash -c " \
  docker run --name geth \
             -p 30303:30303 \
             --memory=1100m \
             --cpu-shares=512 \
             -v /containers/eth_fast:/.ethereum \
             hkjn/geth --syncmode fast --cache 64 --verbosity 3 --metrics"
Restart=always

[Install]
WantedBy=network-online.target
